<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>pratham wanmode | portfolio</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/css/aos.css?ver=1.1.0" rel="stylesheet" >
    <link href="static/css/bootstrap.min.css?ver=1.1.0" rel="stylesheet" >
    <link href="static/css/main.css?ver=1.1.0" rel="stylesheet" >
    <noscript>
      <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
  </head>
  <body id="top">
    <header>
      <div class="profile-page sidebar-collapse">
        <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="400">
          <div class="container">
            <div class="navbar-translate"><a class="navbar-brand" href="#" rel="tooltip">Pratham Wanmode</a>
              <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-bar bar1"></span><span class="navbar-toggler-bar bar2"></span><span class="navbar-toggler-bar bar3"></span></button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
              
              {% include "includes/nav.html" %}
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="page-content">
      <div>
<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="green">
      <div class="page-header-image" data-parallax="true" style="background-image: url('static/images/cc-bg-1.jpg')"></div>
      <div class="container">
        <div class="content-center">
          <div class="cc-profile-image"><a href="#"><img src="static/images/pratham.jpg" alt="Image"/></a></div>
          <div class="h2 title">Pratham Wanmode</div>
          <p class="category text-white">Machine Learning Enthusiast, Web Developer, UI/UX Designer, Photographer</p><a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Hire Me</a><a class="btn btn-primary" href="https://drive.google.com/file/d/12DQWkJGxL-Ahcp0KYrjoVCSk-TYwj8XL/view?usp=share_link" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="button-container"><a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.linkedin.com/in/pratham3012/" rel="tooltip" title="Connect with me on LinkedIn"><i class="fa fa-linkedin"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="https://twitter.com/WanmodePratham" rel="tooltip" title="Follow me on Twitter"><i class="fa fa-twitter"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.github.com/pratham3012" rel="tooltip" title="Follow Me on GitHub"><i class="fa fa-github"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.instagram.com/pratham_wanmode/" rel="tooltip" title="Follow me on Instagram"><i class="fa fa-instagram"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ABOUT SECTION-->
  <div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">About</div>
              <p>Hello! I am Pratham Wanmode. Machine Learning Enthusiast, Web Developer, UI/UX Designer, Photographer</p>
              <p>I am  currently pursuing BTech in computer science and engineering from VIT Bhopal university with CGPA of 8.35 currently. Basically, I am from Kolhapur, Maharashtra and brought up in Indore, Madhya Pradesh. My interest totally lies in Data Science and Machine Learning. 
                <a href="https://www.linkedin.com/in/pratham3012/" target="_blank">Learn More</a></p>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Basic Information</div>
              <div class="row">
                <div class="col-sm-4"><strong class="text-uppercase">Age:</strong></div>
                <div class="col-sm-8">20</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
                <div class="col-sm-8">prathamwanmode3012@gmail.com</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4"><strong class="text-uppercase">Phone:</strong></div>
                <div class="col-sm-8">+91-79747-69929</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4"><strong class="text-uppercase">Address:</strong></div>
                <div class="col-sm-8">630-B, Silicon City, Indore, Madhya Pradesh, India (452013)</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4"><strong class="text-uppercase">Language:</strong></div>
                <div class="col-sm-8">English, Hindi, Marathi</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- SKILLS SECTION-->
  <div class="section" id="skill">
    <div class="container">
    <div class="h4 text-center mb-4 title">Professional Skills</div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
        <div class="card-body">
        <div class="row">
            <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Python</span>
                <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div><span class="progress-value">90%</span>
                </div>
            </div>
            </div>
            <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Flask</span>
                <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div><span class="progress-value">75%</span>
                </div>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Django</span>
                <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div><span class="progress-value">60%</span>
                </div>
            </div>
            </div>
            <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">SQL</span>
                <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div><span class="progress-value">60%</span>
                </div>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Adobe XD</span>
                <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div><span class="progress-value">90%</span>
                </div>
            </div>
            </div>
            <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Java</span>
                <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div><span class="progress-value">70%</span>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
  </div>
  
  

<!-- PORTFOLIO SECTION-->
  <div class="section" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <div class="h4 text-center mb-4 title">Portfolio</div>
          <div class="nav-align-center">
            <ul class="nav nav-pills nav-pills-primary" role="tablist">
              <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#web-development" role="tablist"><i class="fa fa-laptop" aria-hidden="true"></i></a></li>
              <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#graphic-design" role="tablist"><i class="fa fa-desktop" aria-hidden="true"></i></a></li>
              <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Photography" role="tablist"><i class="fa fa-camera" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="tab-content gallery mt-5">
        <div class="tab-pane active" id="web-development">
          <div class="ml-auto mr-auto">
            <div class="row">
              <div class="col-md-6">
                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="https://github.com/pratham3012/Stock-Price-Prediction-Sentiment-Analysis">
                    <figure class="cc-effect"><img src="static/images/project-1.jpg" alt="Image"/>
                      <figcaption>
                        <div class="h4">Stock Price Prediction with Sentiment Analysis</div>
                        <p>Machine Learning</p>
                      </figcaption>
                    </figure></a></div>
              </div>
              <div class="col-md-6">
                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="https://github.com/pratham3012/object-detect-track">
                    <figure class="cc-effect"><img src="static/images/project-2.jpeg" alt="Image"/>
                      <figcaption>
                        <div class="h4">Human Crowd Management</div>
                        <p>Machine Learning and OpenCV</p>
                      </figcaption>
                    </figure></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="graphic-design" role="tabpanel">
          <div class="ml-auto mr-auto">
            <div class="row">
              <div class="col-md-6">
                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="https://drive.google.com/file/d/1xzp7Dl3YUyOVn7kHopnkFIeLrQT-XI3G/view?usp=share_link">
                    <figure class="cc-effect"><img src="static/images/graphic-design-1.png" alt="Image"/>
                      <figcaption>
                        <div class="h4">ESPN CricInfo Player Information</div>
                        <p>UI Design</p>
                      </figcaption>
                    </figure></a></div>
                
              </div>
              <div class="col-md-6">
                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="https://drive.google.com/file/d/1RIZqn2e9cDulietxx5YMh_4NdfsdyUAf/view?usp=share_link">
                    <figure class="cc-effect"><img src="static/images/graphic-design-2.jpg" alt="Image"/>
                      <figcaption>
                        <div class="h4">RRCAT Internship Project</div>
                        <p>UI Design</p>
                      </figcaption>
                    </figure></a></div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="Photography" role="tabpanel">
          <div class="ml-auto mr-auto">
            <div class="row">
              <div class="col-md-6">
                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#Photography">
                    <figure class="cc-effect"><img src="static/images/photography-1" alt="Image"/>
                      <figcaption>
                        <div class="h4">Macro</div>
                        <p>Photography</p>
                      </figcaption>
                    </figure></a></div>
                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#Photography">
                    <figure class="cc-effect"><img src="static/images/photography-3.jpg" alt="Image"/>
                      <figcaption>
                        <div class="h4">On My Way</div>
                        <p>Photography</p>
                      </figcaption>
                    </figure></a></div>
              </div>
              <div class="col-md-6">
                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#Photography">
                    <figure class="cc-effect"><img src="static/images/photography-2.jpg" alt="Image"/>
                      <figcaption>
                        <div class="h4">Mountains</div>
                        <p>Photography</p>
                      </figcaption>
                    </figure></a></div>
                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#Photography">
                    <figure class="cc-effect"><img src="static/images/photography-4.jpg" alt="Image"/>
                      <figcaption>
                        <div class="h4">Sunrise</div>
                        <p>Photography</p>
                      </figcaption>
                    </figure></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- EXPERIENCE SECTION-->
  <div class="section" id="experience">
    <div class="container cc-experience">
      <div class="h4 text-center mb-4 title">Internship</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-experience-header">
              <p>June 2021 - January 2022</p>
              <div class="h5">Raja Ramanna Centre for Advanced Technology (Govt. of India)</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Front End Developer</div>
              <p>Developed a Javabased Inventory Management and Quality Control Software to decrease the production and organizing time of sampling and research. After a week of field visits,research and brainstorming, we identified strategies which we proposed to the management.
                <br> <p> <b>Technology Stack:</b> JavaFx, FXML, Spring Boot</p>
                <br><a href="https://drive.google.com/file/d/1KuQIXX02pEWAuIYdW0P6o7KzlnndooU7/view?usp=share_link" target="_blank">Certificate</a> | <a href="https://github.com/EBRPF/arpf-research-software" target="_blank">Source Code</a>  
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- EDUCATION SECTION-->
  <div class="section">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2019 - 2023</p>
              <div class="h5">Bachelor of Technology</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Computer Science and Engineering</div>
              <p class="category">VIT Bhopal University, India</p>
              <p><b><i>CGPA:  </b></i> 8.35/10
              <br><i><b>Relevant Coursework:  </b></i> Data Structures and Algorithms, Operating System, Database Management System, Computer Networks, Artificial Intelligence, Machine Learning
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2018-2019</p>
              <div class="h5">Higher Secondary School</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Science (PCM)</div>
              <p class="category">Indore Public School, Indore, India</p>
              <p> <i><b>Grade: </b></i>    63.7 %
              <br><i><b>Board: </b></i>    Central Board of Seconday Education
              <br><i><b>Relevant Coursework: </b></i> Physics, Chemistry, Mathematics, English, Classical Music (Instrumental)
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2016 - 2017</p>
              <div class="h5">Secondary School</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Regular</div>
              <p class="category">Atomic Energy Central School, Indore, India</p>
              <p><i><b>Grade: </b></i>    87.4 % 
                <br><i><b>Board: </b></i>    Central Board of Seconday Education
                <br><i><b>Relevant Coursework: </b></i> Science, English, Hindi, Mathematics, Social Science
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- REFERENCES SECTION
  <div class="section" id="reference">
    <div class="container cc-reference">
      <div class="h4 mb-4 text-center title">References</div>
      <div class="card" data-aos="zoom-in">
        <div class="carousel slide" id="cc-Indicators" data-ride="carousel">
          <ol class="carousel-indicators">
            <li class="active" data-target="#cc-Indicators" data-slide-to="0"></li>
            <li data-target="#cc-Indicators" data-slide-to="1"></li>
            <li data-target="#cc-Indicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-lg-2 col-md-3 cc-reference-header"><img src="static/images/reference-image-1.jpg" alt="Image"/>
                  <div class="h5 pt-2">V. C. Petwal</div>
                  <p class="category">Scientific Officer - G, RRCAT</p>
                </div>
                <div class="col-lg-10 col-md-9">
                  <p> Habitasse venenatis commodo tempor eleifend arcu sociis sollicitudin ante pulvinar ad, est porta cras erat ullamcorper volutpat metus duis platea convallis, tortor primis ac quisque etiam luctus nisl nullam fames. Ligula purus suscipit tempus nascetur curabitur donec nam ullamcorper, laoreet nullam mauris dui aptent facilisis neque elementum ac, risus semper felis parturient fringilla rhoncus eleifend.</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-lg-2 col-md-3 cc-reference-header"><img src="static/images/reference-image-2.jpg" alt="Image"/>
                  <div class="h5 pt-2">Braiden</div>
                  <p class="category">CEO / Creativem</p>
                </div>
                <div class="col-lg-10 col-md-9">
                  <p> Habitasse venenatis commodo tempor eleifend arcu sociis sollicitudin ante pulvinar ad, est porta cras erat ullamcorper volutpat metus duis platea convallis, tortor primis ac quisque etiam luctus nisl nullam fames. Ligula purus suscipit tempus nascetur curabitur donec nam ullamcorper, laoreet nullam mauris dui aptent facilisis neque elementum ac, risus semper felis parturient fringilla rhoncus eleifend.</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-lg-2 col-md-3 cc-reference-header"><img src="static/images/reference-image-3.jpg" alt="Image"/>
                  <div class="h5 pt-2">Alexander</div>
                  <p class="category">CEO / Webnote</p>
                </div>
                <div class="col-lg-10 col-md-9">
                  <p> Habitasse venenatis commodo tempor eleifend arcu sociis sollicitudin ante pulvinar ad, est porta cras erat ullamcorper volutpat metus duis platea convallis, tortor primis ac quisque etiam luctus nisl nullam fames. Ligula purus suscipit tempus nascetur curabitur donec nam ullamcorper, laoreet nullam mauris dui aptent facilisis neque elementum ac, risus semper felis parturient fringilla rhoncus eleifend.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
-->
<!-- CONTACT SECTION-->
  <div class="section" id="contact">
    <div class="cc-contact-information" style="background-image: url('static/images/staticmap.png')">
      <div class="container">
        <div class="cc-contact">
          <div class="row">
            <div class="col-md-9">
              <div class="card mb-0" data-aos="zoom-in">
                <div class="h4 text-center title">Contact Me</div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="card-body">
                      <form action="https://formspree.io/f/xwkzwnby" method="POST">
                        <div class="p pb-3"><strong>Feel free to contact me </strong></div>
                        <div class="row mb-3">
                          <div class="col">
                            <div class="input-group"><span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                              <input class="form-control" type="text" name="name" placeholder="Name" required="required"/>
                            </div>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col">
                            <div class="input-group"><span class="input-group-addon"><i class="fa fa-file-text"></i></span>
                              <input class="form-control" type="text" name="Subject" placeholder="Subject" required="required"/>
                            </div>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col">
                            <div class="input-group"><span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                              <input class="form-control" type="email" name="_replyto" placeholder="E-mail" required="required"/>
                            </div>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col">
                            <div class="form-group">
                              <textarea class="form-control" name="message" placeholder="Your Message" required="required"></textarea>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <button class="btn btn-primary" type="submit">Send</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card-body">
                      <p class="mb-0"><strong>Address </strong></p>
                      <p class="pb-2">630-B, Silicon City, Indore (M.P), India - 452013</p>
                      <p class="mb-0"><strong>Phone</strong></p>
                      <p class="pb-2">+91 79747 69929</p>
                      <p class="mb-0"><strong>Email</strong></p>
                      <p>prathamwanmode3012@gmail.com
                        <br> pratham.wanmode2019@vitbhopal.ac.in
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
    
  {% include "includes/footer.html" %}   
    <script src="static/js/core/jquery.3.2.1.min.js?ver=1.1.0"></script>
    <script src="static/js/core/popper.min.js?ver=1.1.0"></script>
    <script src="static/js/core/bootstrap.min.js?ver=1.1.0"></script>
    <script src="static/js/now-ui-kit.js?ver=1.1.0"></script>
    <script src="static/js/aos.js?ver=1.1.0"></script>
    <script src="static/scripts/main.js?ver=1.1.0"></script>
  </body>
</html>